@import 'abstracts/variables';
// @import 'abstracts/functions';
// @import 'abstracts/mixins';
// @import 'abstracts/placeholders';

// @import 'vendors/bootstrap';
// @import 'vendors/jquery-ui';

// @import 'base/reset';
// @import 'base/typography';

@import 'layout/header';
@import 'layout/footer';

@import 'components/card';


// @import 'pages/home';
// @import 'pages/contact';

// @import 'themes/theme';
// @import 'themes/admin';
