.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .card--header {
    display: flex;


    .card--image {
      height: 30px;
    }

    .card--title {
      margin-left: 10px;
    }
  }
}
