
footer {
  display: flex;
  flex-direction: column;

  margin-top: 40px;

  .footer--row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $gap;
  }

  .footer--contacts {
    display: flex;
    flex-direction: column;
    gap: $gap;

    .footer--contact {
      display: flex;
      align-items: center;

      .footer--contact--mobile {
        margin-left: 10px;
      }
    }
  }

  .footer--social {
    display: flex;
    gap: $gap;

    a {
      color: unset;

      &:hover {
        opacity:.5;
      }

      &:focus, :focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
      }
    }
  }
}
