:root {
  color-scheme: light dark;

  --color-sky: 14 165 233;
  --color-purple: 168 85 247;
  --color-pink: 236 72 153;
  --color-emerald: 20 184 166;
  --color-orange: 249 115 22;

  --color-brand: var(--color-pink);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
