@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light dark;

  --color-sky: 14 165 233;
  --color-purple: 168 85 247;
  --color-pink: 236 72 153;
  --color-emerald: 20 184 166;
  --color-orange: 249 115 22;

  --color-brand: var(--color-purple);
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;800&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
